<% if not vacation.validated? %>
  <% if vacation.activity.use_paid_vacation_days %>
    <p>
      <strong>Paid vacation:</strong>
      <%= vacation.user.paid_vacation_days %>
      ( -> <%= vacation.user.paid_vacation_days - vacation.paid_vacation_days %>)
    </p>
  <% end %>

  <% if vacation.activity.use_recup_days %>
    <p>
      <strong>Recup:</strong>
      <%= vacation.user.recup_days %>
      ( -> <%= vacation.user.recup_days - vacation.recup_days %>)
    </p>
  <% end %>
<% end %>
