<% if VacationType.manageable_by? User.current %>
  <fieldset class="box tabular">
    <legend>Vacation days</legend>
    <p>
      <%= form.text_field :paid_vacation_days, class: 'float_cf' %>
    </p>
    <p>
      <%= form.text_field :recup_days, class: 'float_cf' %>
    </p>
  </fieldset>
<% end %>
