input.btn-validate {
  background-color: green;
}

input.btn-reject {
  background-color: orange;
}

input.btn-delete {
  background-color: red;
}

table.list td {
  vertical-align: middle;
}

div.section {
  margin-top: 30px;
}

div.legend {
  font-style: oblique;
  font-size: 95%;
}

span.filter + span.filter {
  margin-left: 15px;
}

.pull-right {
  float: right;
}
